{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-12 col-md-6 my-5">
            <h2>Free Consultation Request</h2>
            <p>I genuinely want to make a difference in your health and fitness journey. 
                Have a burning, specific question about health and fitness? 
                Through my <strong>free consultation service</strong>, I offer specialised advice focused on your needs. 
                Fill out the form below, and I'll strive to provide the best assistance possible. 
                Whether it's about training, nutrition, or lifestyle interventions, you can anticipate thorough, tailored feedback.
                </p>
                <p>Eager to delve deeper? Complete the form below and receive a comprehensive, expert response.</p>

            <!-- add your form here. Your submit button should 
                                have the classes of btn, btn-secondary -->
            <form method="post">
                {{ free_consultation_form | crispy }}
                {% csrf_token %}
                <button class="btn btn-secondary" type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}