{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <img src="{% static 'images/error.png' %}" width="75%" alt="Man cyclist fell 
            off bicycle at crosswalk unhappy guy sits near his bike traffic 
            accident">
        </div>
        <div class="col-12 col-md-4 text-center">
            <h1>Oops!</h1>
            <h3>500 Internal Server Error</h3>
            <p>The server was unable to complete your request.</p>
            <a class="btn btn-primary" aria-label="Go to Home" alt="Go to home page" href="{% url 'home' %}">Go to Home</a>
        </div>
    </div>
</div>

{% endblock %}